{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}
{{ 'component-carousel.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{% assign accessories = product.metafields.custom.accessories.value %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% if accessories %}
<div id="product-accessories" class="color-{{ section.settings.color_scheme }}  no-js-hidden">
  <div
    class="related-products page-width section-{{ section.id }}-padding isolate gradient"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
  >
    {% if accessories.count > 0 %}
      <div class="color-background-2 default-paddings">
        <h2 class="related-products__heading {{ section.settings.heading_size }}">
          {{ section.settings.heading }}
        </h2>

        <slider-component class="accessory-slider slider-mobile-gutter quick-add-hidden">
          <button
            type="button"
            class="slider-button slider-button--prev{% if accessories.count <= 3 %} small-hide{% endif %}{% if accessories.count <= 4 %} medium-hide large-up-hide{% endif %}"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
            aria-controls="GalleryThumbnails-{{ section.id }}"
            data-step="1"
          >
            {% render 'icon-caret' %}
          </button>

          <ul
            id="Slider-{{ section.id }}"
            class="thumbnail-list list-unstyled slider slider--mobile slider--tablet-up"
            role="list"
          >
            {%- for accessory in accessories -%}
              <li
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="thumbnail-list__item slider__slide" data-media-position="{{ forloop.index }}"
              >
                {% render 'card-product-related',
                  card_product: accessory,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating,
                  show_quick_add: true
                %}
              </li>
            {%- endfor -%}
          </ul>

          <button
            type="button"
            class="slider-button slider-button--next{% if accessories.count <= 3 %} small-hide{% endif %}{% if accessories.count <= 4 %} medium-hide large-up-hide{% endif %}"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
            aria-controls="GalleryThumbnails-{{ section.id }}"
            data-step="1"
          >
            {% render 'icon-caret' %}
          </button>
        </slider-component>

      </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Product Accessories",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "You may also like",
      "label": "Section Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Large"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "Product to show"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "Columns desktop"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "default": "background-1",
      "label": "Background 1"
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Adapt"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show secondary Image"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show Vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show rating"
    },
    {
      "type": "header",
      "content": "Header mobile"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Columns on Mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Product Accessories"
    }
  ]
}
{% endschema %}
